// constants
$header: 'header_01.gif';
$name:   'name.png';
//$sprite-default-size: 60px;
$orange: #bd9e39;
$dwhite: #ccc;
$lgrey: #999;
$grey: #4d4d4d;
$dgrey: #333;


$size1: 56px;
$size2: 16px;
$size3: 12px;


// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";

@import "compass/utilities/sprites";


body.bp{
  background-color: #000;
  text-align:       center;
  width:            100%;
  height:           100%;
  font-family:      "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  color:            $dwhite;
  line-height:      2em;
  letter-spacing:   0.1em;
  text-transform:   lowercase;
  font-variant:     small-caps;
  p{
    margin:0;
  }

  .highlight{
    background-color:#000;
    color:$dwhite;
    font-weight:bolder;
  }

  .ital{
    font-style: italic;
  }

  .bang{
    font-size:75%;
  }

  a,a:active,a:visited{
    color: $dwhite;
    text-decoration:none;
    font-weight:bolder;
    &:hover{
      color: $dwhite;
      text-decoration:underline;
      font-weight:bolder;
    };
  }

}


div#container{
  width:            $blueprint-container-size;
  margin:           auto;
  text-align:       left;
  padding:          25px;
  position:         relative;
}

span.im{
  font-style: italic;
}

div#header{
  width:400px;
  color: $dwhite;
  @include float-left;

  p.greet{
    font-size: $size2;
    margin-bottom: 2px;
    span.hello{
      text-transform: uppercase;
    }
  }

  p.name{
    font-size: $size1;
  }
  p.tags{
    margin-top:     8px;
    font-size:      $size2;
    letter-spacing: 0.15em;
    position:       relative;
    left:           -$size2;

    span.a{
      display: inline;
      position:static;
      font-style: italic;
    }
    .amp {
      font-style: italic;
      font-family: "Adobe Caslon Pro", "Hoefler Text", Palatino, "Palatino Linotype", serif;
    }
  }
}


ul#icons {
  padding:      0;
  margin:       0;
  list-style:   none;
  @include      float-right;
  font-size:    $size2;
  margin-right: 70px;

  p.aboutme{
    height:21px;
    margin-bottom: 2px;
  }

  li {
    height:$sprite-default-size;
    width: $sprite-default-size;
    margin-right: $sprite-default-size;
    display: inline-block;

    &:hover{
      cursor: pointer;
    };

    p{
      color: $dwhite;
      width: 200px;
      margin-top: 4px;
      @include float-left;
      display: none;
    }
  }

  li.i1 > div{
    @include sprite-img('icons.png', 1);
    &:hover{
      @include sprite-img('icons.png', 1,2);
    };
  }
  li.i2 > div {
    @include sprite-img('icons.png', 2);
    &:hover{
      @include sprite-img('icons.png', 2,2);
    };
  }
  li.i3 > div {
    @include sprite-img('icons.png', 3);
    &:hover{
      @include sprite-img('icons.png', 3,2);
    };
  }
  li.i4{
    margin-right: 0;
    div {
      @include sprite-img('icons.png', 4);
      &:hover{
        @include sprite-img('icons.png', 4,2);
      };
    }
  }

} //ul#icons


div#vis {
  width:    $blueprint-container-size;
  height:   50px;
  margin:   50px 0 10px 0;
  text-align:center;

} //div#vis

#support{
  margin-top:   5px;
  clear:        both;

  p.title{
    font-size:  $size2;
    color:      $lgrey;
    @include    float-left;
    line-height:0.7em;
  }

  ul{
    @include      float-right;
    margin:       0;
    padding:      0;
    list-style:   none;
    line-height:  100%;

    li{
      display:      inline-block;
      margin-right: 36px;
      width:        100px;
      p{
        &.value{
          font-size: $size2;
        }
        &.label{
          color:      $grey;
          font-size:  $size3;
        }
      }
    }
    li.total{
      margin-right: 70px;
    }
  }
}

#nosupport{
  p{
    color:      $lgrey;
  }
  p.wow{
    color:      $orange;
    font-size:  $size1;
  }
  p.bad{
    font-size: $size2;
  }
  p.help{
    font-size: $size3;
  }
  .ital{
    text-transform: uppercase;
  }
}

#nodata{
  p.opss{
    font-size:  $size1;
  }
  p.what{
    color:      $lgrey;
    font-size:  $size2;
  }
  p.comeback{
    color:      $grey;
    font-size:  $size3;
  }
}
